{{/* 
	Created by   : Piter#2105
	Trigger type : Command
	Trigger      : bubblewrap

	Usage        : -bubblewrap
*/}}

{{/* CONFIG */}}
{{$bubblewrap_emote := "pop"}}

{{/* CODE, DON'T TOUCH UNLESS YOU KNOW WHAT YOU'RE DOING! */}}
{{$bubbles := ""}}
{{- range (seq 0 64) -}}
	{{$bubbles = printf "%s||%s||" $bubbles $bubblewrap_emote}}
	{{if not (mod (add . 1) 8)}}
		{{$bubbles = print $bubbles "\n"}}
	{{end}} 
{{- end -}}
{{if le (len $bubbles) 2048}}
	{{sendMessage nil (cembed
		"title" "Bubble wrap!"
		"color" 14054744
		"description" $bubbles
	)}}
{{else}}
	{{print "**Bubble wrap!**\n" $bubbles}}
{{end}}
